#incase someone else clones my project and wants to run it on their own machine, they will need to create a .env file in the BackEnd folder and copy the contents of this file into it/ or just rename this file to .env, then change the values of the variables to their own values. 

DB_PORT=3307
DB_USER=your_database_username
DB_PASSWORD=your_database_password
DB_NAME=financial_dashboard
MYSQL_ROOT_PASSWORD=your_mysql_root_password
JWT_SECRET=your_jwt_secret_key